@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,800;1,200;1,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-track{
  width: 13px;
  background:grey;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
}
::-webkit-scrollbar-thumb{
  background:crimson;
  width: 0;
  height: 35%;
}  */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: #212529;
}
.navbar {
  z-index: 999;
  opacity: 1;
  background: #212529;
}
.hover-danger {
  position: relative;
  overflow: hidden;
}
.hover-danger a::after {
  content: "";
  background-color: #cf3948;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -100%;
}
.hover-danger a:hover::after {
  left: 1px;
  transition: 400ms ease-in-out;
}
.hover-danger a:hover {
  color: #cf3948 !important;
  transition: 400ms ease-in-out;
}
.cvbtn {
  border-radius: 6px;
  border: 1px solid #fff;
}
.icons {
  top: 17rem;
  left: 1rem;
  border-radius: 20px;
}
.navigator {
  position: relative;
}
.navigator a {
  background: orange;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  display: inline-block;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 1.5rem;
}

/* =============== Hero Section Start===================== */
#home {
  margin: 7rem 0;
}
#home .row {
  min-height: 70vh;
}
#home .name {
  font-size: 4rem;
}
#home .hero-btn {
  border: 1px double crimson;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}
.hero-img {
  width: 30rem;
  height: 40rem;
}
.hero-img img {
  width: 100%;
}

/* =============== Hero Section End===================== */

/* =============== About Section Start===================== */
#about {
  padding-top: 5rem;
}
.about-para::after {
  content: "";
  display: block;
  background: crimson;
  width: 15%;
  height: 3px;
  border-radius: 12px;
  margin: 10px auto 0 auto;
}
.bio::after {
  content: "";
  display: block;
  background: orange;
  width: 7%;
  margin-top: 5px;
  height: 3px;
  border-radius: 12px;
}
.skill-title::after {
  content: "";
  display: block;
  background: orange;
  width: 7%;
  margin-top: 5px;
  height: 3px;
  border-radius: 12px;
}
.progress {
  border-radius: 20px;
  height: 10px;
  background: none;
}

/* =============== About Section End===================== */

/* ============= Services Section Start===================== */
#services {
  padding-top: 5rem;
}
.services-container {
  border-radius: 3px;
  border: 1px solid crimson;
  background: #353935;
}
.services-container ion-icon {
  font-size: 4rem;
}
/* =============== Services Section End===================== */

/* =============== projects Section Start===================== */
#project {
  padding-top: 5rem;
}
.active {
  border: 2px double crimson;
  border-radius: 25px;
}
.project-container {
  border: 1px solid red;
  border-bottom: 6px;
  /* background: #000; */
}
/* =============== projects Section End===================== */

/* =============== Team Section Start===================== */
#team {
  padding-top: 5rem;
}
/* .profile-area{
  padding: 80px 0;
} */
.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  z-index: -1;
}
.cover img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 5px solid #fff;
}
.profile img {
  width: 100%;
  border-radius: 50%;
}

/* =============== Team Section End===================== */

/* ================= Media Queries======================== */
@media screen and (max-width: 991px) {
  /* .cvbtn {
    display: none;
  } */
  #home .name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  #home .name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 575px) {
  .icons .icon {
    display: none;
  }
  #home .name {
    text-align: center;
  }
  #home p {
    text-align: center;
  }
  #home .btns {
    display: flex;
    justify-content: center;
  }
  .hero-img {
    margin: auto;
  }
}
